{%- if image_2_alt_text == blank -%}
  {%- assign image_2_alt_text = shop.name -%}
{%- endif -%}

{%- if image_2_mobile_alt_text == blank -%}
  {%- assign image_2_mobile_alt_text = shop.name -%}
{%- endif -%}

<a class="column-span-12 large--column-span-6 large--row-span-1 zoom-on-hover block link"
  href="{{ url_2 }}">
  <div class="width-100 aspect-ratio-1x1 large--padding-0 large--height-100 background-{% if text_color_2 == 'white' %}default{% else %}off-white{% endif %} relative">
    <div class="hide large--block"
      style="padding-bottom: 51.54%;">
    </div>

    <div class="large--hide absolute absolute-fill z-index-1">
      <img class="block object-fit-cover object-position-center js-load-on-event"
        data-src="{{ image_2_mobile | img_url: '750x' }}"
        data-manual-load
        loading="lazy"
        alt="{{ image_2_mobile_alt_text }}" />
    </div>

    <div class="hide large--block absolute absolute-fill z-index-1 zoom-target">
      <img class="block object-fit-cover object-position-center height-auto js-load-on-event"
        data-src="{{ image_2 | img_url: '552x284', scale: 2 }}"
        data-manual-load
        loading="lazy"
        alt="{{ image_2_alt_text }}" 
        width="552" 
        height="284" />
    </div>

    {%- if overlay_activate_2 -%}
      <div class="absolute absolute-fill z-index-2" style="background-color: {{ overlay_color_2 }}; opacity: {{ overlay_opacity_2 | divided_by: 100.00 }}"></div>
    {%- endif -%}

    {% comment %}Text content w/ positioning{% endcomment %}
    <div class="absolute absolute-fill z-index-3 width-100 height-100 padding-8">
      <div class="height-100 flex flex-column justify-{{ block_alignment_y_2_mobile }} large--justify-{{ block_alignment_y_2 }}">
        <div class="width-100 flex flex-row justify-{{ block_alignment_x_2_mobile }} large--justify-{{ block_alignment_x_2 }}">
          <div class="text-{{ text_alignment_2_mobile }} large--text-{{ text_alignment_2 }}">
            <h3 class="font-family-heading font-size-9 margin-bottom-4 letter-spacing-2 text-{{ text_color_2 }}">{{ title_2 | newline_to_br }}</h3>
            <p class="margin-0 font-family-heading font-size-2 font-weight-4 letter-spacing-2  text-{{ subtitle_text_color_2 }}">{{ subtitle_2 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>