{% comment %}

  This snippet renders a custom widget based on the current 'paginate' context,
  defined in { % paginate XXXX by 5 % } tags wrapping the content.
  The example below breaks the pagination down so you can setup your own styles and behavior if you wish.

  Basic Pagination Usage:
    <div class="pagination">
      {{ paginate | default_pagination }}
    </div>

  Replace Text:
    <div class="pagination">
      {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
    </div>

  More information:
   - index#pagination
   - http://docs.shopify.com/themes/liquid-variables/paginate

{% endcomment %}

{%- assign pagination_button_text = pagination-custom | default: "View More" -%}

{%- if paginate.next -%}
  <div id="LoadMorePagination"
    class="text-center">
    <a href="{{ paginate.next.url }}"
      class="button border border-secondary background-transparent text-default border-default-hover background-default-hover text-white-hover"
      title="{{ pagination_button_text }}">
      {{ pagination_button_text }}
    </a>
  </div>
{%- endif -%}