{%- assign title_class = "hero-title font-family-heading letter-spacing-3 text-uppercase line-height-solid" -%}

{%- if title_style == "regular" -%}
  {%- assign title_class = "font-family-primary font-weight-4 font-size-8 large--font-size-9 letter-spacing--1" -%}
{%- endif -%}

<div class="relative background-{% if text_color == 'white' %}default{% else %}secondary{% endif %} overflow-hidden {% if hero_settings.overlay_activate %}has-overlay{% endif %}">
  {% comment %}
    Background images
  {% endcomment %}
  <div class="hero-image-container relative large--hide box-ratio-inline" style="padding-bottom: {{ 
    image_mobile_ratio_percentage }}%">
    {%- assign image_mobile_preview = image_mobile | img_url: '50x' -%}
    {%- assign image_mobile = image_mobile | img_url: 'master' -%}
    {%- unless image_mobile contains "no-image" -%}
      <div class="absolute absolute-fill">
        <img class="block object-fit-cover object-position-center"
          src="{{ image_mobile_preview }}"
          data-src="{{ image_mobile }}"
          alt="{{ shop.name }}"
        />
      </div>
    {%- endunless -%}
  </div>
  <div class="hero-image-container relative hide large--block box-ratio-inline" style="padding-bottom: {{ image_desktop_ratio_percentage }}%">
    {%- assign image_desktop_preview = image_desktop | img_url: '400x' -%}
    {%- assign image_desktop = image_desktop | img_url: 'master' -%}
    {%- unless image_desktop contains "no-image" -%}
      <div class="absolute absolute-fill">
        <img class="block object-fit-cover object-position-center"
          src="{{ image_desktop_preview }}"
          data-src="{{ image_desktop }}"
          alt="{{ shop.name }}"
        />
      </div>
    {%- endunless -%}
  </div>

  <div class="aspect-ratio-fill z-index-2">
    <div class="height-100 padding-vertical-15 container">
      {% comment %}
        Flex container. First child is vertical (Y) alignment, inner child element is horizontal (X)
      {% endcomment %}
      <div class="height-100 flex flex-column justify-{{ mobile_block_alignment_y }} large--justify-{{ block_alignment_y }}">

        <div class="width-100 flex flex-row justify-{{ mobile_block_alignment_x }} large--justify-{{ block_alignment_x }}">

          <div class="hero-text-container text-{{ text_color }} text-{{ mobile_text_alignment }} large--text-{{ text_alignment }} large--width-6">
            <div class="large--padding-2">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when "title" %}
                    <h2 class="{{ title_class }} padding-vertical-2 margin-0">
                      {{ block.settings.text | newline_to_br }}
                    </h2>
                  {% when "subtitle" %}
                    <p class="font-size-5 font-weight-1 padding-vertical-2 margin-0 text-light-grey">
                      {%- assign subtitle_text = block.settings.text | remove: '<p>' | remove: '</p>' -%}
                      {{ subtitle_text }}
                    </p>
                  {% when "button" %}
                    <div class="margin-top-4">
                      <a href="{{ block.settings.link }}" 
                        class="inline-block button padding-horizontal-8 background-primary text-white background-white-hover text-default-hover"
                        title="{{ block.settings.text }}">
                        {{ block.settings.text }}
                      </a>
                    </div>
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% if hero_settings.overlay_activate %}
    <div class="absolute absolute-fill z-index-1" style="background-color: {{ hero_settings.overlay_color }}; opacity: {{ hero_settings.overlay_opacity | divided_by: 100.00 }}"></div>
  {% endif %}
</div>

<style type="text/css">
  .hero-title { 
    font-size: 2.875rem; 
    line-height: 1.22; 
  }

  {%- if mobile_min_height != blank -%}
    .hero-image-container { 
      min-height: {{ mobile_min_height }}px; 
    }
  {%- endif -%}

  {%- if mobile_block_max_width != blank -%}
    .hero-text-container { 
      max-width: {{ mobile_block_max_width }}px; 
    }
  {%- endif -%}

  /* breakpoint large: */ 
  @media (min-width: 60em) { 
    .hero-title { 
      font-size: 4.5rem; 
      line-height: 1.11; 
    }

    {%- if block_max_width != blank -%}
    .hero-text-container { 
      max-width: {{ block_max_width }}px; 
    }
    {%- endif -%}

    {%- if desktop_min_height != blank -%}
      .hero-image-container { 
        min-height: {{ desktop_min_height }}px; 
      }
    {%- endif -%}
  }
</style>