<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
  <html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
    <head>

    <!-- OneTrust Cookies Consent Notice start for satechi.net -->
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="2a1960b0-eb16-473a-9d25-31aa0804c7a7-test" ></script>
    <script type="text/javascript">
        function OptanonWrapper() {
        }
    </script>
    <!-- OneTrust Cookies Consent Notice end for satechi.net -->

    <!-- OneTrust Script to Block Cookies -->
    {% render 'onetrust-block-cookies' %}
    <!-- End OneTrust Script to Block Cookies -->

    <!-- Start - Elevar FB CAPI -->
    <script async src="https://shopify-gtm-suite.getelevar.com/shops/f03f171de6fcac592d906c3f6e903480505082f4/events.js" type="text/plain" class="optanon-category-C0002"></script>
    <!-- End - Elevar FB CAPI -->
    {% render 'elevar-head' %}

      <!-- Google Optimize -->
      <script src="https://www.googleoptimize.com/optimize.js?id=GTM-TP9HNWP"></script>
     <!-- End Google Optimize -->

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">

      <title>{{ shop.name }} - {{ page_title }}</title>


      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
      {{ content_for_header }}

      {{ checkout_stylesheets }}
      {{ checkout_scripts }}

      {{ "checkout.scss.css" | asset_url | stylesheet_tag }}

      <!-- Swell Integration -->
      {{ "swell-rewards.scss.css" | asset_url | stylesheet_tag }}
      {{ "swell-checkout.js" | asset_url | script_tag }}

        <!-- zendesk -->
    <!-- Start of satechi Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zE||(function(e,t,s){var n=window.zE=window.zEmbed=function(){n._.push(arguments)}, a=n.s=e.createElement(t),r=e.getElementsByTagName(t)[0];n.set=function(e){ n.set._.push(e)},n._=[],n.set._=[],a.async=true,a.setAttribute("charset","utf-8"), a.src="https://static.zdassets.com/ekr/asset_composer.js?key="+s, n.t=+new Date,a.type="text/javascript",r.parentNode.insertBefore(a,r)})(document,"script","56d664c0-113a-4fc6-a06c-6bc2994db903");/*]]>*/</script>
    <!-- End of satechi Zendesk Widget script -->

        <script>
      console.log(window.innerWidth);
      if (window.innerWidth > 500) {
        zE(function() {
          zE.setHelpCenterSuggestions({ labels: ['top3_widget'] });
        });

        window.zESettings = {
          webWidget: {
            helpCenter: {
              title: {
                '*': 'Help'
              },
              searchPlaceholder: {
                '*': 'Search our Help Center'
              }
            },
            launcher: {
              label: {
                '*': 'Help'
              }
            },
          }
        };
      }
    </script>

    </head>
    <body>
    {% render 'checkout-custom-css' %}
    {% render 'elevar-checkout-end' %}

      <div class="banner" data-header>
        <div class="wrap">
          {{ content_for_logo }}
        </div>
      </div>

      {{ order_summary_toggle }}

      <div class="content" data-content>
        <div class="wrap">
          <div class="main" role="main">
            <div class="main__header">
              {{ breadcrumb }}
              {{ alternative_payment_methods }}
            </div>
            <div class="main__content">
              {{ content_for_layout }}
            </div>
            <div class="main__footer">
              {{ content_for_footer }}
            </div>
          </div>
          <div class="sidebar" role="complementary">
            <div class="sidebar__header">
              {{ content_for_logo }}
            </div>
            <div class="sidebar__content">
              {{ content_for_order_summary }}
            </div>
          </div>
        </div>
      </div>
      {% if settings['checkout_message_summary_enabled'] %}
      <div class = "sidbar__message-wrapper">
        <div class = "sidbar__message">
          {% unless settings['checkout_message_summary_title'] == "" %}<h2>{{ settings['checkout_message_summary_title'] }}</h2>{% endunless %}
          <p>{{ settings['checkout_message_summary_text'] }}</p>
        </div>
      </div>
      {% endif %}
      {% if settings['checkout_message_left_enabled'] %}
      <div class = "left__message-wrapper">
        <div class = "left__message">
          <p>{{ settings['checkout_message_left_text'] }}</p>
        </div>
      </div>
      {% endif %}

      {{ tracking_code }}

      <!-- Swell Integration -->
      {% include 'swell-checkout' %}
      {% include 'swell-post-checkout' %}
    </body>
    <style>
      .sidbar__message-wrapper,
      .left__message-wrapper {
        display: none;
      }

      .sidbar__message {
        margin-top: 20px;
        padding-top: 50px;
        border-top: solid 1px #e1e1e1;
      }
    </style>
    <script>
      function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }

        return "";
    }

      //$(document).ready(function(){
        var userId =  '{{ customer.id }}';
        if( getCookie("customer_login") ) {
          dataLayer.push({'event': 'GTMevent', 'eventCategory': 'lead', 'eventAction': 'submit', 'eventLabel': 'Customer Login', 'userId': userId});
        }

      if( Shopify.Checkout.step != "contact_information" ) {
        {% for line_item in checkout.line_items %}
        ga('ec:addProduct', {               // Provide product details in an productFieldObject.
          'id': '{{ line_item.sku }}',                   // Product ID (string).
          'name': '{{ line_item.title }}', // Product name (string).
          'category': '{{ line_item.product.type }}',            // Product category (string).
          'brand': 'Satechi',                // Product brand (string).
          'variant': '{{ line_item.variant.title }}',               // Product variant (string).
          'price': '{{ line_item.price | money_without_currency }}',                 // Product price (currency).
          'quantity': {{ line_item.quantity }}                     // Product quantity (number).
        });
        {% endfor %}

        if (Shopify.Checkout.step == "shipping_method") {
          ga('ec:setAction','checkout', {
            'step': 2
          });
        } else if (Shopify.Checkout.step == "payment_method") {
          ga('ec:setAction','checkout', {
            'step': 3
          });
        }
      }

      $(document).ready(function(){
        {% if settings['checkout_message_summary_enabled'] %}
        $('.order-summary__sections').append($('.sidbar__message-wrapper').html());
        {% endif %}

        {% if settings['checkout_message_left_enabled'] %}
        $('.edit_checkout .step__footer').before('<div class = "section">' + $('.left__message-wrapper').html() + '</div>');
        {% endif %}
        $('.sidbar__message-wrapper').hide();
        $('.left__message-wrapper').hide();
      });
        //ga('send', 'pageview');
      //});

    </script>

    <!-- Justnuo Subscription -->
    <script data-cfasync="false">window.ju_num="E993C078-CD6D-4352-8DFD-2B4740FF08E2";window.asset_host='//cdn.justuno.com/';(function(i,s,o,g,r,a,m){i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)};a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script',asset_host+'vck.js','juapp');</script>

    <script data-cfasync="false">
      window.juapp=window.juapp||function(){(window.juapp.q=window.juapp.q||[]).push(arguments)}

      /*
      Replace the [order ...] portions below with the actual order information.
      You can omit any of the attributes that you don't have values other then the order id and order total.
      */

      juapp(
        'order',
        '{{checkout.id}}',
        {total:{{checkout.total_price | divided_by : 100}},subtotal:{{checkout.subtotal_price | divided_by : 100}},tax:{{checkout.tax_price | divided_by : 100}},shipping:{{checkout.shipping_price | divided_by : 100}},currency:'USD'}
      );

      /*
      You will need to repeat this line of code for each item in the order.
      Replace the [item ...] portions below with the actual item information in order.
      You can omit any of the attributes that you don't have values other then the item id and quantity.
      */

      {% for line_item in checkout.line_items %}
      juapp(
        'orderItem',
        {productid:'{{line_item.product_id}}',variationid:'{{line_item.variant_id}}',sku:'{{line_item.sku}}',name:'{{line_item.title}}',quantity:{{line_item.quantity}},price:{{line_item.price | divided_by : 100}},color:'{{line_item.variant.option1}}'}
      );
      {% endfor %}

      /* end of repeat section */
    </script>
    <style>
      @media screen and (max-width: 1024px) {
        #launcher{
          display: block;
        }
      }
      #aca_ui_container{
          display: none;
        }
    </style>
    <script type="text/javascript">
      document.querySelector('.policy-list').innerHTML = '<li class="policy-list__item"><a data-title-text="Shipping" href="https://satechi.net/pages/shipping-delivery" target="_blank">Shipping</a></li><li class="policy-list__item"><a data-title-text="Returns" href="https://satechi.net/pages/refunds-and-returns" target="_blank">Returns</a></li><li class="policy-list__item"><a data-title-text="Privacy" href="https://satechi.net/pages/terms-privacy" target="_blank">Privacy</a></li><li class="policy-list__item"><a data-title-text="Terms & Conditions" href="https://satechi.net/pages/terms-conditions" target="_blank">Terms & Conditions</a></li>'
    </script>
  </html>



