{%- assign recover_password_form = section.settings -%}

{%- assign title = recover_password_form.title | default: "Recover Password" -%}
{%- assign description = recover_password_form.description | default: false -%}
{%- assign success = recover_password_form.success | default: "Success! We've just sent you an email to reset your password." -%}
{%- assign call_to_action = recover_password_form.call_to_action | default: "Send" -%}
{%- assign back_to_login = recover_password_form.back_to_login | default: "Back to Log In" -%}

<div class="js-view-container text-center hide">

  {% comment %} Common section heading {% endcomment %}
  {% include 'section-heading', title: title, description: description, tag: 'h1' %}

  {% form "recover_customer_password" %}
    <input type="hidden" name="return_to" value="/account/login#recover" />

    {%- if form.errors -%}
      <div class="rte margin-vertical-6" role="alert">
        The following errors were found when the form was submitted:<br/>
        {{ form.errors | default_errors }}
      </div>
    {%- elsif form.posted_successfully? -%}
      <div class="rte margin-top-3 margin-bottom-4">
        {{ success }}
      </div>
    
    {%- endif -%}

    <div class="measure margin-top-3 center">
      <div class="input-group">
        <label for="recover-email">Email</label>
        <input type="email" id="recover-email" class="input" name="email" placeholder="{{ settings.placeholder_email }}" value="" autocorrect="off" autocapitalize="off" required />
      </div>

      <button type="submit" class="button width-100 margin-top-4 font-size-2">{{ call_to_action }}</button>
    </div>
  {% endform %}

  <button class="button-reset margin-top-4 font-size-1 text-underline" data-behavior="toggle-forms">{{ back_to_login }}</button>
</div>

{% schema %}
{
  "name": "Recover password form",
  "class": "recover-password-form",
  "settings": [
    {
      "type": "paragraph",
      "content": "Access directly at \/account\/login#recover"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Recover password"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "We'll send you an email to reset your password."
    },
    {
      "type": "textarea",
      "id": "success",
      "label": "Success",
      "default": "Success! We've just sent you an email to reset your password."
    },
    {
      "type": "text",
      "id": "call_to_action",
      "label": "Call to action",
      "default": "Send"
    },
    {
      "type": "text",
      "id": "back_to_login",
      "label": "Back to login prompt",
      "default": "Back to login"
    }
  ]
}
{% endschema %}
