{%- assign _section  = section.settings -%}
{%- assign _blocks = section.blocks -%}

{%- if _section.featured_product -%}
  <section class="section-shipping-protection js-section-shipping-protection" data-product-handle="{{- _section.featured_product -}}">
    <div class="section__inner">
      <header class="section__header">
        <h2 class="section__title">
          {{- _section.heading -}}
        </h2>
      </header>

      <div class="section__body">
        <div class="shipping-protection">
          <header class="shipping-protection__header">
            <div class="shipping-protection__checkbox">
              <input
              type="checkbox"
              name="product"
              id="product--{{ section.id }}"
              quantity="1"
              class="js-product-checkbox"
              {% for line_item in checkout.line_items %}
                {%- assign line_item_handle = line_item.product.handle -%}
                {%- if line_item_handle == _section.featured_product -%}
                  checked="true"
                  {% break %}
                {%- endif -%}
              {% endfor %}>

              <label
              for="product--{{ section.id }}">
                {{- _section.text -}}
              </label>
            </div>

            <span class="shipping-protection__price js-shipping-protection-price"></span>
          </header>

          <div class="shipping-protection__body">
            {%- if _section.image != blank -%}
              <div class="shipping-protection__image">
                <img src="{{- _section.image | img_url: '320x' -}}" alt="{{- _section.image.alt -}}">
              </div>
            {%- endif -%}

            {%- if _blocks.size > 0 -%}
              <div class="shipping-protection__features">
                <ul>
                  {%- for block in _blocks -%}
                    {%- assign _block = block.settings -%}

                    <li>
                      {{- _block.text -}}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </section>
{%- endif -%}


{% schema %}
  {
    "name": "Shipping Protection",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Shipping Protection"
      },
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "Click the checkbox to protect your package"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}
